manifest {
    mainScript                = 'main.nf'
    name                      = 'roundabout'
    author                    = 'Erin Young'
    homePage                  = 'https://github.com/erinyoung/roundabout'
    version                   = 'v.3.3.20220810'
    defaultBranch             = 'main'
}

singularity.enabled     = true
singularity.autoMounts  = true


