params.outdir = "roundabout"
singularity.enabled     = true
singularity.autoMounts  = true

process {
    publishDir = [ path: params.outdir, mode: 'copy' ]

    withLabel: prokka {
        container = 'staphb/prokka:latest'
    }
    withLabel: plasmidfinder {
        container = 'quay.io/uphl/plasmidfinder:latest'
    }
    withLabel: amrfinder {
        container = 'staphb/ncbi-amrfinderplus:latest'
    }
    withLabel: blast {
        container = 'ncbi/blast:latest'
    }
    withLabel: circos {
        container = 'quay.io/biocontainers/circos:0.69.8--hdfd78af_1'
    }
    withLabel: prep {
        container = 'staphb/samtools:latest'
    }
}